<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="conceptive" translate="label" sortOrder="500">
            <label>Conceptive Commerce</label>
        </tab>
        <section id="requestquote" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Request Quote</label>
            <tab>conceptive</tab>
            <resource>Conceptive_RequestQuote::config_requestquote</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>
                        <![CDATA[Select <strong>Yes</strong> to enable the module.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="button_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Button Text</label>
                </field>

                <field id="send_email_to_admin" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Email to Admin</label>
                    <comment>Select <strong>Yes</strong> to send an email notification to the admin on new quote requests.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="email_sender" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <comment>Select the identity that will be used as the sender for quote request emails.</comment>
                    <depends>
                        <field id="send_email_to_admin">1</field>
                    </depends>
                </field>

                <field id="email_template" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Select the email template to be used for quote requests.</comment>
                    <depends>
                        <field id="send_email_to_admin">1</field>
                    </depends>
                </field>

                <field id="custom_request_quote_button_code" type="textarea" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <frontend_model>Conceptive\RequestQuote\Block\Adminhtml\System\Config\Field\Info</frontend_model>
                    <label>Custom Request Quote Button Code</label>
                    <comment><![CDATA[Paste this code into your custom product listing template file wherever you want to display the "Request Quote" button. Replace <b>$product</b> with the current product object.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
 