*{
    margin: 0;
    padding: 0;
}

.box {
    padding: 20px;
}

.head{
    display: flex;
    justify-content: center;
}
.para1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.para2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.persons{
    width: 80vw;
    height: 40vh;
    margin:  20px auto;
    background-color: red;
}

.container2{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.one{
    border: 2px solid rgb(206, 203, 203);
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin: 10px;
}
.one img {
    border-radius: 50px;
    margin-bottom: 20px;
}
.main{
    /* border: 2px solid black; */
    text-align: center;
    margin-bottom: 20px;
}

hr{
    margin-top: 20px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold{
    font-weight: bold;
}



