<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <requestquote>
            <general>
                <enabled>1</enabled>
                <button_text>Request For Quote</button_text>
                <email_sender>general</email_sender>
                <send_email_to_admin>1</send_email_to_admin>
                <email_template>requestquote_general_email_template</email_template>
                <custom_request_quote_button_code><![CDATA[<?php echo $this->getLayout()->createBlock('Conceptive\RequestQuote\Block\RequestQuote')->setProduct($product)->setTemplate('Conceptive_RequestQuote::request_quote.phtml')->toHtml(); ?>]]>
                </custom_request_quote_button_code>
            </general>
        </requestquote>
    </default>
</config>
