<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Conceptive\RequestQuote\Api\RequestQuoteRepositoryInterface" type="Conceptive\RequestQuote\Model\RequestQuoteRepository"/>
    <preference for="Conceptive\RequestQuote\Api\Data\RequestQuoteInterface" type="Conceptive\RequestQuote\Model\RequestQuote"/>
    <preference for="Conceptive\RequestQuote\Api\Data\RequestQuoteSearchResultsInterface" type="Conceptive\RequestQuote\Model\RequestQuoteSearchResults"/>
    
    <type name="Conceptive\RequestQuote\Model\RequestQuote">
        <arguments>
            <argument name="data" xsi:type="array"/>
        </arguments>
    </type>

    <!-- Ui Grid -->
    <virtualType name="ConceptiveRequestQuoteFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ConceptiveRequestQuoteDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Conceptive\RequestQuote\Model\ResourceModel\RequestQuote\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ConceptiveRequestQuoteFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Conceptive\RequestQuote\Model\ResourceModel\RequestQuote\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cc_request_quote</argument>
            <argument name="resourceModel" xsi:type="string">Conceptive\RequestQuote\Model\ResourceModel\RequestQuote</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cc_request_quote_listing_data_source" xsi:type="string">Conceptive\RequestQuote\Model\ResourceModel\RequestQuote\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
