<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
   <menu>
    	<add id="Emipro_Custom::view" title="Emipro" module="Emipro_Custom" sortOrder="50" resource="Emipro_Custom::view"/>

        <add id="Emipro_Custom::menu" title="Manage Grid" module="Emipro_Custom" sortOrder="20" parent="Emipro_Custom::view" action="custom/index/index" resource="Emipro_Custom::menu"/>

</menu>
</config>