*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid blue;
    margin: 5px;
}

.one{
    border: 2px solid black;
    margin: 4px;
    padding: 2px;
}

.center{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

