
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
}
.product{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid black;
}
.name{
    margin: 10px;
}
.price{
    margin: 4px;
}